@{
    ViewBag.Title = "Bandeja Choferes Administrador";
    // Layout = "~/Views/Shared/_LayoutGral.cshtml";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}
@section styles{
    <link href="~/Content/Validation.css" rel="stylesheet" />
    <link href="~/assets/css/fileinput.css" rel="stylesheet" />
    <link href="~/assets/css/angular-busy.css" rel="stylesheet" />
<link href="/Content/Kendo/kendo.common.min.css" rel="stylesheet" type="text/css" />
<link href="/Content/Kendo/kendo.uniform.min.css" rel="stylesheet" type="text/css" />
}
<div style="height :100%; width:100%; font-size:12px;zoom:100%;">
    <div class="breadcrumbs" id="breadcrumbs" style="top:0px;">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/Home/Index">Inicio</a>
            </li>

            <li>
                <i class="ace-icon fa fa-truck"></i>    <a href="~/Home/Index">Logística</a>
            </li>
            <li>
                <i class="ace-icon fa fa-male"></i>    <a href="frmBandejaChoferesAdmin">Modificación de Choferes</a>
            </li>
            @*<li class="active">Profile 1</li>*@
        </ul><!-- /.breadcrumb -->
        <!-- #section:basics/content.searchbox -->
        <!-- /section:basics/content.searchbox -->
    </div>
</div>
    <body data-ng-controller="ChoferesAdministrativoController">
        <div style="height :100%; width:100%; font-size:12px;zoom:100%;">
            @*Session Busqueda*@
            <div style="height:100%;">
               
                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="ace-icon  glyphicon glyphicon-search bigger-130"></i>
                    </div>
                    <div class="ace-settings-box clearfix" id="ace-settings-box">
                        <div class="container container-fluid" style="padding:0 0 0 0">
                            <div class="row">
                                <div class="col-md-3" style="text-align: right;">
                                    <button type="button" class="btn btn-sm btn-round " id="consultagrid" style="background-color:rgb(238,37,34)!important;border-color:rgb(238,37,34)!important;" create-pages results="GridTransporte" number-per-page="10" ng-click="BuscarFiltro();showPaginate=true" pages="pagesCho" page-content="pageContentCho;" page-limit=15 binding="blur">
                                        <i class=" glyphicon glyphicon-search">
                                        </i>
                                        Consultar
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 titulos">
                                    <span class="lbl">Proveedores</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>
                                        <input type="radio" name="PorProveedores" class="ace" value="1" id="rbtTodosProveedores" ng-model="PorProveedor" ng-click="limpioCaja()" />
                                        <span class="lbl">Todos los Proveedores:</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <label>
                                        <input type="radio" name="PorProveedores" class="ace" value="2" id="rbtPorRucProveedor" ng-model="PorProveedor" ng-click="limpioCaja()" />
                                        <span class="lbl">Por RUC:</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" name="anim" id="txtRucProveedor" ng-model="txtRucProveedor" ng-pattern="/^\d+$/" placeholder="RUC Proveedor" style="margin-left: 30px; width: 70%" class="my-input" maxlength="13" onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <label>
                                        <input type="radio" name="PorProveedores" class="ace" value="3" id="rbtPorCodigoSap" ng-model="PorProveedor" ng-click="limpioCaja()" />
                                        <span class="lbl">Por Código de Proveedor:</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" name="anim" id="txtCodigoSapPr" class="form-control" ng-model="txtCodigoSapPr" ng-pattern="/^\d+$/" placeholder="Código de Proveedor" style="margin-left: 30px; width: 70%" class="my-input" maxlength="13" onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                                </div>
                            </div>
                            <br />
                            <div>
                                <div class="row">
                                    <div class="col-md-4 titulos">
                                        <span class="lbl">No. Licencia/Cédula</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>
                                            <input type="radio" name="PorNumeroCedRuc" class="ace" value="1" id="rbtTraTN" ng-model="PorNumeroCed" ng-click="limpioCaja()" />
                                            <span class="lbl">Todos los No Identificación</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>
                                            <input type="radio" name="PorNumeroCedRuc" class="ace" value="2" id="rbtTraUN" ng-model="PorNumeroCed" />
                                            <span class="lbl">No. Identificación</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="text" name="anim" id="txtNumero" class="form-control" ng-model="txtNumero" ng-pattern="/^\d+$/" placeholder="No. Identificación" style="margin-left: 30px; width: 70%" class="my-input" maxlength="13" onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4 titulos">
                                    <span class="lbl">Datos</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>
                                        <input type="radio" name="PorDatos" class="ace" value="1" id="rbtPNombre" ng-model="PorDatosNombreApellido" ng-click="limpioCaja()" />
                                        <span class="lbl">Por Nombres:</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" name="Nombre" id="txtPorNombre" class="form-control" ng-model="txtPorNombre" placeholder="Nombre" style="margin-left: 30px; width: 70%" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>
                                        <input type="radio" name="PorDatos" class="ace" value="2" id="rbtPNombre" ng-model="PorDatosNombreApellido" ng-click="limpioCaja()" />
                                        <span class="lbl">Por Apellidos:</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" name="Nombre" id="txtPorApellido" class="form-control" ng-model="txtPorApellido" placeholder="Apellido" style="margin-left: 30px; width: 70%" />
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            @*Fin Session Busqueda*@
            <div cg-busy="{promise:myPromise,message:message,backdrop:true}">
                <form name='exampleForm' ng-submit="Confirmargrabar()">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#ChoferesRegistrados">
                                    Choferes Registrados
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#RegistroChoferesNuevos">
                                    Modificacion de Choferes
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#HistorialPedidos">
                                    Historial Cita
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#HistorialEstados">
                                    Historial Estados
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="ChoferesRegistrados" class="tab-pane fade in active">
                                @*Session Grid de Choferes Ingresados*@
                                <div class="widget-box">
                                    <div class="widget-header" style="text-align:center;text-wrap:none;">
                                        <h4 class="widget-title">CONSULTA DE CHOFERES</h4>
                                        <div class="widget-toolbar">
                                            <a href="#" data-action="collapse">
                                                <i class="ace-icon fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                        <font ng-hide="etiTotRegistros==''" class="widget-toolbar"> Total: {{etiTotRegistros}} Registros </font>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">
                                            @*Session Botones*@
                                            <div class="widget-box">
                                                <div class="widget-header">
                                                    <div class="row">
                                                        <div class=" col-md-12 ">
                                                            <h4 class="smaller" style="text-align:right;">
                                                                <button type="button" class="btn btn-sm btn-round" style="background-color:rgb(238,37,34)!important;border-color:rgb(238,37,34)!important" id="btnConsultaex" ng-click="exportar(1)">
                                                                    <i class="fa fa-file-excel-o "></i>
                                                                    Exportar Excel
                                                                </button>
                                                                <button type="button" class="btn btn-sm btn-round" style="background-color:rgb(238,37,34)!important;border-color:rgb(238,37,34)!important" id="btnConsultapdf" ng-click="exportar(2)">
                                                                    <i class="fa fa-file-pdf-o"></i>
                                                                    Exporta PDF
                                                                </button>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*Fin Session Botones*@
                                            <div ng-controller="PaginationController">
                                                <div ng-show="showPaginate">
                                                    <div class="span3">
                                                        <div id="no-more-tables">
                                                            <table class="table table-striped table-bordered table-condensed table-hover gridStyle">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'idchofer'; sortReverse = !sortReverse">
                                                                                Número Chofer
                                                                                <span ng-show="sortType == 'idchofer' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'idchofer' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'nombres'; sortReverse = !sortReverse">
                                                                                Nombre Chofer
                                                                                <span ng-show="sortType == 'nombres' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'nombres' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'licencia'; sortReverse = !sortReverse">
                                                                                Número Licencia
                                                                                <span ng-show="sortType == 'licencia' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'licencia' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'telefono'; sortReverse = !sortReverse">
                                                                                Teléfono
                                                                                <span ng-show="sortType == 'telefono' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'telefono' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'direccion'; sortReverse = !sortReverse">
                                                                                Direccíon
                                                                                <span ng-show="sortType == 'direccion' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'direccion' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'estado'; sortReverse = !sortReverse">
                                                                                Estado
                                                                                <span ng-show="sortType == 'estado' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'estado' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'codsap'; sortReverse = !sortReverse">
                                                                                Código Proveedor
                                                                                <span ng-show="sortType == 'codsap' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'codsap' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'estado'; sortReverse = !sortReverse">
                                                                                Seleccionar

                                                                            </a>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="content in pageContentCho | orderBy:sortType:sortReverse">
                                                                        <td style="font-size:11px;text-align:center" data-title="Número Chofer">{{content.idchofer}}</td>
                                                                        <td style="font-size:11px;" data-title="Nombre Chofer">{{content.nombres}}</td>
                                                                        <td style="font-size:11px;" data-title="Número Licencia">{{content.licencia}}</td>
                                                                        <td style="font-size:11px;" data-title="Teléfono">{{content.telefono}}</td>
                                                                        <td style="font-size:11px;" data-title="Direccíon">{{content.direccion}}</td>
                                                                        <td style="font-size:11px;" data-title="Estado">{{content.estado}}</td>
                                                                        <td style="font-size:11px;" data-title="Código Proveedor">{{content.codsap}}</td>
                                                                        <td style="font-size:11px;text-align:center" data-title="Seleccionar">
                                                                            <a class="btn btn-danger btn-xs" ng-click="SelecionarGrid(content.idchofer,content.codsap);" style="border-width: 1px;padding: 0 5px;"><i class=" glyphicon glyphicon-ok "></i></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <ul style="position: relative;" class="pagination">
                                                        <li ng-class="{disabled: isFirstPage()}" pagination-left><a>&laquo;</a></li>
                                                        <li pagination ng-class="{active: page == getCurrentPage() }" page="{{page}}" ng-repeat="page in pagesCho">
                                                            <a>{{page}}</a>
                                                        </li>
                                                        <li ng-class="{disabled: isLastPage()}" pagination-right><a>&raquo;</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*Fin Session Grid de Choferes Ingresados*@
                            </div>
                            <div id="RegistroChoferesNuevos" class="tab-pane fade">
                                @*Session Botones*@
                                <div class="widget-box">
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class=" col-md-3 ">
                                            </div>
                                            <div class=" col-md-6 ">
                                                <h4 class="smaller" style="text-align:center;"></h4>
                                            </div>
                                            <div class=" col-md-3 ">
                                                <h4 class="smaller" style="text-align:right;">
                                                    <button type="button" class="btn btn-sm btn-round " style="background-color:rgb(238,37,34)!important;border-color:rgb(238,37,34)!important;" id="btnnuevo" ng-click="nuevo()">
                                                        <i class="glyphicon glyphicon-file"></i>
                                                        Limpiar
                                                    </button>
                                                    <button type="submit" class="btn btn-sm btn-round " style="background-color:rgb(238,37,34)!important;border-color:rgb(238,37,34)!important;" id="btnConsulta45">
                                                        <i class="glyphicon glyphicon-pencil"></i>
                                                        Modificar
                                                    </button>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*Fin Session Botones*@

                                @*Session Mantenimiento*@
                                <div class="widget-box">
                                    <div class="widget-header" style="text-align:center;text-wrap:none;">
                                        <h4 class="widget-title" style="font-weight:normal!important">Datos Generales</h4>
                                        <div class="widget-toolbar">
                                            <a href="#" data-action="collapse">
                                                <i class="ace-icon fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div class='form-group'>
                                                <div class="row">
                                                    <div class=" col-md-9 ">
                                                        <div class="">
                                                            <div class="row">
                                                                <div class=" col-md-2">
                                                                    <label>
                                                                        <span class="lbl">Primer Nombre:</span>
                                                                    </label>
                                                                </div>
                                                                <div class=" col-md-4">
                                                                    <input type="text" name="nombresprimero" class="form-control clsToUpper" ng-model="traCho.txtNombresPrimero" maxlength="20" placeholder="Primer Nombre" style=" width: 100%" ng-disabled="habilitar"
                                                                           ng-required="true" oninvalid="setCustomValidity('Primer Nombre es requerido.')" oninput="    setCustomValidity('')" />
                                                                </div>
                                                                <div class=" col-md-2">
                                                                    <label>
                                                                        <span class="lbl">Segundo Nombre:</span>
                                                                    </label>
                                                                </div>
                                                                <div class=" col-md-4">
                                                                    <input type="text" class="form-control clsToUpper" name="Nombres" id="txtNombresSegundo" ng-model="traCho.txtNombresSegundo" maxlength="20" placeholder="Segundo Nombre" style=" width: 100%" ng-disabled="habilitar" />
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class=" col-md-2">
                                                                    <label>
                                                                        <span class="lbl">Primer Apellido:</span>
                                                                    </label>
                                                                </div>
                                                                <div class=" col-md-4">
                                                                    <input type="text" name="apellidoprimero" class="form-control clsToUpper" ng-model="traCho.txtApellidoPrimero" maxlength="20" placeholder="Primer Apellido" style=" width: 100%" ng-disabled="habilitar"
                                                                           ng-required="true" oninvalid="setCustomValidity('Primer Apellido es requerido.')" oninput="    setCustomValidity('')" />
                                                                </div>
                                                                <div class=" col-md-2">
                                                                    <label>
                                                                        <span class="lbl">Segundo Apellido:</span>
                                                                    </label>
                                                                </div>
                                                                <div class=" col-md-4">
                                                                    <input type="text" name="apellidosegundo" class="form-control clsToUpper" ng-model="traCho.txtApellidoSegundo" maxlength="20" placeholder="Segundo Apellido" style=" width: 100%" ng-disabled="habilitar"
                                                                           ng-required="true" oninvalid="setCustomValidity('Segundo Apellido es requerido.')" oninput="    setCustomValidity('')" />
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class=" col-md-2">
                                                                    <label>
                                                                        <span class="lbl">Fecha Nacimiento:</span>
                                                                    </label>
                                                                </div>
                                                                <div class=" col-md-4">
                                                                    <input type="date" name="txtfechanacimiento" class="form-control clsToUpper" ng-model="traCho.txtFechaNacimiento" placeholder="Fecha Nacimiento" style=" width: 100%" ng-disabled="habilitar"
                                                                           ng-required="true" oninvalid="setCustomValidity('Fecha Nacimiento es requerido.')" oninput="    setCustomValidity('')" />
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class=" col-md-2">
                                                                    <label>
                                                                        <span class="lbl">Dirección Domicilio:</span>
                                                                    </label>
                                                                </div>
                                                                <div class=" col-md-4">
                                                                    <input type="text" name="txtdirecciondomicilio" class="form-control clsToUpper" ng-model="traCho.txtDireccionDomicilio" maxlength="100" ng-disabled="habilitar" placeholder="Dirección Domicilio" style=" width: 100%"
                                                                           ng-required="true" oninvalid="setCustomValidity('La Direccion de Domicilio es requerido.')" oninput="    setCustomValidity('')" />
                                                                </div>
                                                                <div class=" col-md-2">
                                                                    <label>
                                                                        <span class="lbl">Teléfono Domicilio:</span>
                                                                    </label>
                                                                </div>
                                                                <div class=" col-md-4">
                                                                    <input type="text" name="txttelefonodomicilio" class="form-control clsToUpper" ng-model="traCho.txtTelefonoDomicilio" ng-disabled="habilitar" minlength="7" maxlength="10" placeholder="Teléfono Domicilio" style=" width: 100%" required onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                                                                           ng-required="true" oninvalid="setCustomValidity('El Telefono de Domicilio es requerido.')" oninput="    setCustomValidity('')" />
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class=" col-md-2">
                                                                    <label>
                                                                        <span class="lbl">Tipo Identificación:</span>
                                                                    </label>
                                                                </div>
                                                                <div class=" col-md-4">
                                                                    <select id="idselectIdentificacion" name="selectedidentificacion clsToUpper" class="form-control" ng-model="selectedIdentificacion" ng-options="item as item.detalle for item in IdentificacionDatos" ng-disabled="habilitar"
                                                                            ng-required="true" oninvalid="setCustomValidity('Tipo Identificacion es requerido.')" oninput="    setCustomValidity('')" style=" width: 100%">
                                                                        <option value="">Seleccione un Tipo Identificación</option>
                                                                    </select>
                                                                </div>
                                                                <div class=" col-md-2">
                                                                    <label>
                                                                        <span class="lbl">No. Identificación:</span>
                                                                    </label>
                                                                </div>
                                                                <div class=" col-md-4">
                                                                    <input type="text" name="txtidentificacion" class="form-control clsToUpper" ng-model="traCho.txtIdentificacion" placeholder="No. Identificacion" style=" width: 100%" minlength="10" maxlength="13" ng-disabled="habilitar" onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                                                                           ng-required="true" pattern=".{10,}" oninvalid="setCustomValidity('La Identificacion es requerido o No Cumple el minimo Requerido')" oninput="setCustomValidity('')" />
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class=" col-md-2">
                                                                    <label>
                                                                        <span class="lbl">RUC E.Transportista:</span>
                                                                    </label>
                                                                </div>
                                                                <div class=" col-md-4">
                                                                    <input type="text" name="txtructranspo" class="form-control clsToUpper" ng-model="traCho.txtructranspo" placeholder="Ruc Empresa Transportista" ng-disabled="habilitar" style=" width: 100%" minlength="13" maxlength="13" onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                                                                           ng-required="true" pattern=".{13,}" oninvalid="setCustomValidity('El Ruc es requerido o No Cumple el minimo Requerido')" oninput="    setCustomValidity('')" />
                                                                </div>
                                                                <div class=" col-md-2">
                                                                    <label>
                                                                        <span class="lbl">E. Transportista:</span>
                                                                    </label>
                                                                </div>
                                                                <div class=" col-md-4">
                                                                    <input type="text" name="txtnombreemptran" class="form-control clsToUpper" ng-model="traCho.txtNombreEmptran" ng-disabled="habilitar" placeholder="Nombre Empresa Transportista" style=" width: 100%"
                                                                           ng-required="true" oninvalid="setCustomValidity('El Nombre de Empresa Transportista es requerido.')" oninput="    setCustomValidity('')" />
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class=" col-md-2">
                                                                    <label>
                                                                        <span class="lbl">Estado:</span>
                                                                    </label>
                                                                </div>
                                                                <div class=" col-md-4">
                                                                    <select id="idselectEstado" name="selectestado" class="form-control clsToUpper" ng-model="selectEstado" ng-disabled="habilitar" ng-change="selecionaComboEstado()" ng-options="item as item.detalle for item in EstadoDatos"
                                                                            ng-required="true" oninvalid="setCustomValidity('Estado es requerido.')" oninput="    setCustomValidity('')" style=" width: 100%">
                                                                        <option value="">Seleccione un Estado</option>
                                                                    </select>
                                                                </div>
                                                                <div class=" col-md-2">
                                                                    <label>
                                                                        <span class="lbl">Motivo Bloqueo:</span>
                                                                    </label>
                                                                </div>
                                                                <div class=" col-md-4">
                                                                    <select id="idselectBloqueo" class="form-control clsToUpper" ng-model="selectBloqueo" ng-disabled="habilitares" ng-options="item as item.detalle for item in BloqueoDatos" style=" width: 100%">
                                                                        <option value="">Seleccione un Bloqueo</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class=" col-md-2">
                                                                    <label>
                                                                        <span class="lbl">Fecha Bloqueo:</span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <input type="date" name="mydate" id="txtFechaBloqueor" class="form-control" ng-disabled="habilitares" ng-model="traCho.txtFechaBloqueo" placeholder="Fecha Bloqueo" style=" width: 100%" />
                                                                </div>
                                                                <div class=" col-md-2">
                                                                    <label>
                                                                        <span class="lbl">Origen Bloqueo:</span>
                                                                    </label>
                                                                </div>
                                                                <div class=" col-md-4">
                                                                    <input type="text" name="Origen" class="form-control clsToUpper" id="txtOrigenBloque" ng-disabled="habilitares" ng-model="traCho.txtOrigenBloque" placeholder="Origen Bloqueo" style=" width: 100%" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br />
                                                    </div>
                                                    <div class=" col-md-3 ">
                                                        <div class="gridStyle">
                                                            <div ng-hide="div1" class="form-group " ng-controller="FileManagerTransporteController" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                                                                <input name="file" accept="image/*" ng-disabled="habilitar" type="file" id="file-3" nv-file-select="" uploader="uploader" />
                                                                <div class="progress" style="">
                                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                                                </div>
                                                                <div style="text-align: center ;">
                                                                    <button id="remover" type="button" class="btn btn-sm btn-round" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length" data-rel="tooltip" data-placement="bottom" title="Remover Archivo" style="background-color:rgb(238,37,34)!important;border-color:rgb(238,37,34)!important;">
                                                                        <i class="glyphicon glyphicon-trash"></i>
                                                                        Eliminar
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div ng-hide="div2" style="text-align: center ;">
                                                                <img src="{{imagenurl}}" width="200" />
                                                                <div style="text-align: center ;">
                                                                    <button type="button" class="btn btn-sm btn-round" data-rel="tooltip" data-placement="bottom" title="Subir Archivo" style="background-color:rgb(238,37,34)!important;border-color:rgb(238,37,34)!important;" id="btnUpload" ng-click="modi()">
                                                                        <i class="glyphicon glyphicon-upload"></i>
                                                                        Modificar
                                                                    </button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-box">
                                    <div class="widget-header" style="text-align:center;text-wrap:none;">
                                        <h4 class="widget-title" style="font-weight:normal!important">Licencias</h4>
                                        <div class="widget-toolbar">
                                            <a href="#" data-action="collapse">
                                                <i class="ace-icon fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div class="row">
                                                <div class=" col-md-2">
                                                    <label>
                                                        <span class="lbl">No. Licencia:</span>
                                                    </label>
                                                </div>
                                                <div class=" col-md-4">
                                                    <input type="text" name="txtnumerolicencia" ng-disabled="habilitar" class="form-control clsToUpper" ng-model="traCho.txtIdentificacion" placeholder="Numero Licencia" style=" width: 100%" minlength="10" maxlength="13" onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                                                           ng-required="true" pattern=".{10,}" oninvalid="setCustomValidity('La Licencia es requerido o No Cumple el minimo Requerido')" oninput="setCustomValidity('')" />
                                                </div>
                                                <div class=" col-md-2">
                                                    <label>
                                                        <span class="lbl">Categoría:</span>
                                                    </label>
                                                </div>
                                                <div class=" col-md-4">
                                                    <select id="idselectCategoriaL" name="selectcategoria" ng-disabled="habilitar" class="form-control clsToUpper" ng-model="selectCategoria" ng-options="item as item.detalle for item in CategoriaLDatos"
                                                            ng-required="true" oninvalid="setCustomValidity('Categoria es requerido.')" oninput="    setCustomValidity('')" style=" width: 100%">
                                                        <option value="">Seleccione una Categoría</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class=" col-md-2">
                                                    <label>
                                                        <span class="lbl">Tipo Sangre:</span>
                                                    </label>
                                                </div>
                                                <div class=" col-md-4">
                                                    <select id="idselectCategoriaL" name="selecttipoSangre" ng-disabled="habilitar" class="form-control clsToUpper" ng-model="selectTipoSangre" ng-options="item as item.detalle for item in TipoSangreLDatos"
                                                            ng-required="true" oninvalid="setCustomValidity('Tipo Sangre es requerido.')" oninput="    setCustomValidity('')" style=" width: 100%">
                                                        <option value="">Seleccione un Tipo Sangre</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class=" col-md-2">
                                                    <label>
                                                        <span class="lbl">Fecha Emisión:</span>
                                                    </label>
                                                </div>
                                                <div class=" col-md-4">
                                                    <input type="date" name="txtfechaEmision" ng-disabled="habilitar" class="form-contro clsToUpper" ng-model="traCho.txtFechaEmision" placeholder="Fecha Emisión" style=" width: 100%"
                                                           ng-required="true" oninvalid="setCustomValidity('Fecha Emision es requerido.')" oninput="    setCustomValidity('')" />
                                                </div>
                                                <div class=" col-md-2">
                                                    <label>
                                                        <span class="lbl">Fecha Expiración:</span>
                                                    </label>
                                                </div>
                                                <div class=" col-md-4">
                                                    <input type="date" name="txtdechaexpiracion" ng-disabled="habilitar" class="form-control clsToUpper" ng-model="traCho.txtFechaExpiracion" placeholder="Fecha Expiración" style=" width: 100%"
                                                           ng-required="true" oninvalid="setCustomValidity('Fecha Expiración es requerido.')" oninput="    setCustomValidity('')" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*Fin Session Mantenimiento*@
                            </div>
                            <div id="HistorialPedidos" class="tab-pane fade">
                                @*Session Pedidos*@
                                <div class="widget-box">
                                    <div class="widget-header" style="text-align:center;text-wrap:none;">
                                        <h4 class="widget-title">HISTORIAL CITA</</h4>
                                        <div class="widget-toolbar">
                                            <a href="#" data-action="collapse">
                                                <i class="ace-icon fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                        <font ng-hide="etiTotRegistrosLP==''" style="font-weight:normal!important" class="widget-toolbar"> Total: {{etiTotRegistrosLP}} Registros </font>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div ng-controller="PaginationController">
                                                <div ng-show="showPaginate">
                                                    <div class="span3">
                                                        <div id="no-more-tables">
                                                            <table class="table table-striped table-bordered table-condensed table-hover gridStyle">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'idcita'; sortReverse = !sortReverse">
                                                                                Número Cita
                                                                                <span ng-show="sortType == 'idcita' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'idcita' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'bodega'; sortReverse = !sortReverse">
                                                                                Bodega
                                                                                <span ng-show="sortType == 'bodega' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'bodega' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'fechapedido'; sortReverse = !sortReverse">
                                                                                Fecha Asignación Pedido
                                                                                <span ng-show="sortType == 'fechapedido' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'fechapedido' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'fechaentrega'; sortReverse = !sortReverse">
                                                                                Fecha Hora Entrega
                                                                                <span ng-show="sortType == 'fechaentrega' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'fechaentrega' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'estado'; sortReverse = !sortReverse">
                                                                                Estado
                                                                                <span ng-show="sortType == 'estado' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'estado' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="content in pageContentChoP | orderBy:sortType:sortReverse">
                                                                        <td style="font-size:11px;text-align:center" data-title="Número Cita">{{content.idcita}}</td>
                                                                        <td style="font-size:11px;" data-title="Bodega">{{content.bodega}}</td>
                                                                        <td style="font-size:11px;text-align:center" data-title="Fecha Asignción Pedido">{{content.fechapedido}}</td>
                                                                        <td style="font-size:11px;text-align:center" data-title="Fecha Hora Entrega">{{content.fechaentrega}}</td>
                                                                        <td style="font-size:11px;" data-title="Estado">{{content.estado}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*Fin Session Pedidos*@
                            </div>
                            <div id="HistorialEstados" class="tab-pane fade">
                                @*Session Historial Estado*@
                                <div class="widget-box">
                                    <div class="widget-header" style="text-align:center;text-wrap:none;">
                                        <h4 class="widget-title">HISTORIAL DE ESTADOS</h4>
                                        <div class="widget-toolbar">
                                            <a href="#" data-action="collapse">
                                                <i class="ace-icon fa fa-chevron-up"></i>
                                            </a>

                                        </div>
                                        <font ng-hide="etiTotRegistrosHE==''" class="widget-toolbar"> Total: {{etiTotRegistrosHE}} Registros </font>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div ng-controller="PaginationController">
                                                <div ng-show="showPaginate">
                                                    <div class="span3">
                                                        <div id="no-more-tables">
                                                            <table class="table table-striped table-bordered table-condensed table-hover gridStyle">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'fechaingreso'; sortReverse = !sortReverse">
                                                                                Fecha Ingreso
                                                                                <span ng-show="sortType == 'fechaingreso' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'fechaingreso' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'estado'; sortReverse = !sortReverse">
                                                                                Estado
                                                                                <span ng-show="sortType == 'estado' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'estado' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'motivo'; sortReverse = !sortReverse">
                                                                                Motivo
                                                                                <span ng-show="sortType == 'motivo' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'motivo' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'usuario'; sortReverse = !sortReverse">
                                                                                Usuario
                                                                                <span ng-show="sortType == 'usuario' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'usuario' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'fechacambio'; sortReverse = !sortReverse">
                                                                                Fecha Cambio
                                                                                <span ng-show="sortType == 'fechacambio' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'fechacambio' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                        <th class="grid-header uppercase info" style="font-size:11px;">
                                                                            <a href="#" ng-click="sortType = 'tipo'; sortReverse = !sortReverse">
                                                                                Tipo Transacción
                                                                                <span ng-show="sortType == 'tipo' && !sortReverse" class="fa fa-caret-down"></span>
                                                                                <span ng-show="sortType == 'tipo' && sortReverse" class="fa fa-caret-up"></span>
                                                                            </a>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="content in pageContentChoH | orderBy:sortType:sortReverse">
                                                                        <td style="font-size:11px;text-align:center" data-title="Fecha Ingreso">{{content.fechaingreso}}</td>
                                                                        <td style="font-size:11px;" data-title="ESTADO">{{content.estado}}</td>
                                                                        <td style="font-size:11px;" data-title="Motivo">{{content.motivo}}</td>
                                                                        <td style="font-size:11px;text-align:center;" data-title="Usuario">{{content.usuario}}</td>
                                                                        <td style="font-size:11px;text-align:center" data-title="Fecha Cambio">{{content.fechacambio}}</td>
                                                                        <td style="font-size:11px;" data-title="Tipo Transacción">{{content.tipo}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*Fin Historial Estado*@
                            </div>
                        </div>
                    </div>

                </form>

                @Html.Partial("_mensajeConfirmado")
                @Html.Partial("_mensajeConfirmacion")
                @Html.Partial("_mensajeError")
                @Html.Partial("_mensajeInformativo")
                @Html.Partial("_mensajeOK")

            </div>
        </div>
</body>
    @section scripts{
        <script src="~/assets/js/fileinput.js"></script>
        <script src="~/assets/js/fileinput.min.js"></script>
<script src="/Scripts/kendo.all.min.js" type="text/javascript"></script>
<script>
    webshims.setOptions('waitReady', false);
    webshims.setOptions('forms-ext', { types: 'date' });
    webshims.polyfill('forms forms-ext');
    $.webshims.formcfg = {
        en: {
            dFormat: '/',
            dateSigns: '/',
            patterns: {
                d: "dd/mm/yy"
            }
        }
    };

    $.webshims.activeLang('en');
</script>
        <script type="text/javascript">
            $(document).ready(function () {

                $('.clsToUpper').keyup(function () {
                    this.value = this.value.toUpperCase();
                });


                $('#remover').on('click', function () {
                    var file_input = $('#file-3');
                    file_input.ace_file_input('reset_input');
                });
                $('#btnnuevo').on('click', function () {
                    var file_input = $('#file-3');
                    file_input.ace_file_input('reset_input');
                });
                $('#btnconfigrabar').on('click', function () {
                    var file_input = $('#file-3');
                    file_input.ace_file_input('reset_input');
                });
                $('#file-3').ace_file_input({
                    style: 'well',
                    btn_choose: 'Seleccionar Foto de Chofer',
                    btn_change: null,
                    no_icon: 'ace-icon fa fa-cloud-upload',
                    droppable: true,
                    thumbnail: 'large'//large | fit
                           ,
                    preview_error: function (filename, error_code) {

                    }

                }).on('change', function () {

                });
            });

        </script>
    }


